body {
  background: linear-gradient(35deg, #1e9849,#001fff9e);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.App-header {
  text-align: center;
}


