body {
  background: linear-gradient(35deg, #1e9849,#001fff9e);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.App-header {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.modal-main {
  position:fixed;
  background: white;
  width: 250px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-text {
  margin-top: 15px;
  margin-bottom: 10px
}

.modal-btn {
  margin-bottom: 15px;
}



